{{define "footer"}}
<div class=" footer d-flex justify-content-center flex-column algin-items-center">
    <div class="d-flex justify-content-center algin-items-center  ">
        <a class="nav-link text-light p-3" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light p-3" href="#">Documents</a>
        <a class="nav-link text-light p-3" href="#">Tasks & Workflows</a>
        <a class="nav-link text-light p-3" href="#">Reports</a>
    </div>
    <div class="rights text-center text-light">
        <p>All rights are reserved to <b>IMS</b></p>
        <p><b>2024</b></p>
    </div>
</div>
{{end}}