{{define "footer"}}
<div class="footer d-flex justify-content-around algin-items-center">
    <div class="rights text-center">
        <p>All rights are reserved to <b>IMS</b></p>
        <p><b>2024</b></p>
    </div>
    <div class="d-flex justify-content-between algin-items-center  ">
        <a class="nav-link text-light p-3" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light p-3" href="#">Documents</a>
        <a class="nav-link text-light p-3" href="#">Tasks & Workflows</a>
        <a class="nav-link text-light p-3" href="#">Reports</a>
    </div>
</div>
{{end}}