{{define "interface-table"}}
<div class="dashboard">
    <div class="">
        {{ if eq .User.Type "coordinator" }}
        <div class="links d-flex  flex-column justify-content-center align-items-center mt-5">
            <a href="/project?t=c" class="btn btn-warning  col-12 project-btn">{{message "create_project"}}</a>
        </div>
        {{ end }}
         <h3>Projects</h3>
         <table style="width: 100%;">
               <thead>
                   <tr>
                       <th>Name</th>
                       <th>Type</th>
                       <th>State</th>
                       <th>Project Nature</th>
                   </tr>
               </thead>
               <tbody>
                   {{range .Projects}}
                   <tr>
                       <td> <a href="/project?name={{.Name}}"> {{.Name}}</td>
                       <td>{{.Type}}</td>
                       <td>{{.State}}</td>
                       <td>{{.ProjectNature}}</td>
                   </tr>
                   {{end}}
               </tbody>
           </table>
      </div>

</div>
{{end}}
