{{define "nav"}}
<nav class="navbar navbar-expand-lg " id="nav">
  <div class="container-fluid d-flex justify-content-between algin-items-center">
    <a class="navbar-brand">{{message "title_name"}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link text-light p-3" aria-current="page" href="#">Home</a>
        <a class="nav-link text-light p-3" href="#">Documents</a>
        <a class="nav-link text-light p-3" href="#">Tasks & Workflows</a>
        <a class="nav-link text-light p-3" href="#">Reports</a>
        <a class="nav-link text-light p-3" href="/interface-point">Interface Point</a>
      </div>
    </div>
  </div>
</nav>
{{end}}
