{{define "register-form"}}
<section class="register">
    <form id="register-form" action="/register" method="post" class="needs-validation" novalidate>
        <h1>
            {{.PageTitle}}
        </h1>
        <div class="row">
            <div class="col">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="name" placeholder="Full Name" required>
                <div class="invalid-feedback">
                    Name is required!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email" aria-required="true">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="example@gmail.com"
                    required>
                <div class="invalid-feedback">
                    Email is required
                </div>
            </div>
            <div class="col">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                <div class="invalid-feedback">
                    Title is required!
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="+201165*******" required>
                <div class="invalid-feedback">
                    Title is required!
                </div>
            </div>
            <div class="col">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" aria-label=" password"
                    required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="organization">Organization</label>
                <input type="text" class="form-control" id="organization" name="organization"
                    placeholder="EX:Company Name" required>
            </div>
        </div>

        <input type="hidden" id="type" name="type" value="{{.Type}}" />


        <div class="btn btn-primary register-btn">
            <button type="submit"> Register</button>
        </div>
    </form>
    <script>
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    </script>
</section>
{{end}}