@media (min-width:700px) {
    form {
        position: relative;
    }

    form::before{
        content: "";
        position: absolute;
        top: 19px;
        right: -44px;
        width: 2px;
        height: 221px;
        background-color: #737272;
    }
}
