body {
  font-family: Clarkson;
}

* {
  border-radius: 0 !important;
  box-sizing: border-box;
}

:root {
  --main-color: #032738;
  --secondary-color: #073950fa;
}

button {
  background-color: transparent;
  border: none;
}

.background {
  background-color: var(--main-color);
}

.dashboard-content {
  margin-top: 8rem;
  margin-left: -33px;
}

.tableOfContent li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

ul li div {
  width: 170px;
}

ul li:nth-child(odd) {
  background-color: rgb(177, 175, 175);
}

#nav {
  background-color: var(--main-color);
  color: white;
}

#nav a:hover {
  color: var(--hover-color);
}

.custom-btn {
  color: white;
  border-radius: 10px;
  background-color: var(--main-color);
  border-color: var(--main-color);
  padding: 10px 20px;
  width: 200px;
  font-size: 18px;
  margin-top: 100px;
  border-radius: 10px;
}

.custom-btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
}

/*  */
section {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

form {
  padding: 30px;
  box-shadow: 0 1px 10px #cbcaca;
  width: 700px;
}

@media (max-width: 700px) {
  form {
    width: 400px;
  }

  .row {
    flex-direction: column;
  }

  .custom-btn {
    width: 100%;
  }
}

form h1 {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

form .row {
  margin-bottom: 10px;
}

.register-btn {
  min-width: 250px;
}

/* 
 #landloginform {
  position: relative;
} */

#landloginform .dividing-line span {
  position: relative;
  top: 20px;
}

#landloginform .dividing-line span::after {
  position: absolute;
  content: "";
  top: 8px;
  right: 28px;
  width: 298px;
  height: 2px;
  background-color: #8f8f8f;
}

#landloginform .dividing-line span::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 28px;
  width: 298px;
  height: 2px;
  background-color: #8f8f8f;
}

@media (max-width: 700px) {
  #landloginform .dividing-line span::before,
  #landloginform .dividing-line span::after {
    width: 100px;
    height: 2px;
  }
}

.notifications {
  position: fixed;
  left: 0;
  bottom: 10px;
  width: 450px;
  transform: translateX(-500px);
  transition: all 0.5s linear;
  height: 100vh;
  overflow-y: scroll;
  z-index: 1000;
  background-color: white;
}

@media (max-width: 700px) {
  .notifications {
    width: 300px;
  }
}

.notifications.show {
  transform: translateX(0);
}

.icon {
  position: fixed;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}

.icon i {
  font-size: 50px;
}

.numberOfNotifications {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  overflow: hidden;
}

.icon.hidden {
  display: none;
}

.notifications .title {
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 10px;
  border-bottom: 1px solid #cecaca;
  padding: 17px;
  box-shadow: 0 1px 10px #cbcaca;
}

.notifications .title i {
  cursor: pointer;
  font-size: 40px;
}

.notifications .notifications_container {
  padding: 10px;
}

.notifications .notifications_container .notifications_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.notifications .notifications_container .notifications_content .notification {
  padding: 15px;
  box-shadow: 0 1px 10px #cbcaca;
  border-radius: 5px;
  margin-bottom: 10px;
}

.notifications
  .notifications_container
  .notifications_content
  .notification
  .sub_title {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.notifications
  .notifications_container
  .notifications_content
  .notification
  .time {
  text-align: end;
  font-size: 14px;
  color: #8f8f8f;
}

.notifications
  .notifications_container
  .notifications_content
  .notification
  .close_btn {
  text-align: start;
  border-top: 1px solid #cecaca;
  margin-top: 10px;
  padding-top: 10px;
}

.dismissAll_btn {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: rgb(11, 169, 197);
  overflow: hidden;
  width: fit-content;
}

.dismissAll_btn button {
  color: white;
  border-radius: 50px;
}

.dismiss_btn {
  color: rgb(11, 169, 197);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(226, 220, 220);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e7e7e7;
}

.footer {
  background-color: var(--main-color);
}

.footer p {
  margin: 0;
}

.footer a:hover {
  transform: scale(1.1);
}

.disabled-input {
  background-color: #e9ecef;
  color: #6c757d;
  border: 1px solid #ced4da;
  cursor: not-allowed;
}

.left-div {
  width: 70%;
  float: left;
  padding: 20px;
}

.right-div {
  width: 30%;
  float: left;
  padding: 20px;
}
.small-font {
  font-size: 12px;
}
