{{define "dashboard"}}
<html lang='en'>
{{template "head" .}}

<body>
    {{template "header" .}}
    <h3>Hello, {{.Name}}</h3>
    {{template "interface-table" .}}
    {{template "footer" .}}
</body>

</html>
{{end}}
