{{define "dashboard"}}
<div class="dashboard">
    <div class="">

        <nav class="navbar navbar-expand-lg bg-secondary ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ">
                        <a class="nav-link text-light p-3" aria-current="page" href="#">Home</a>
                        <a class="nav-link text-light p-3" href="#">Documents</a>
                        <a class="nav-link text-light p-3" href="#">Tasks & Workflows</a>
                        <a class="nav-link text-light p-3" href="#">Reports</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="dropdown custom-downdrop background  p-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Filter
            </button>
            <ul class="dropdown-menu  collapse ">
                <div class="btn-group d-flex flex-column jusify-content-between " role="group"
                    aria-label="Basic checkbox toggle button group">
                    <input type="checkbox" class="btn-check " id="btncheck1" autocomplete="off">
                    <label class="btn btn-outline-primary my-2" for="btncheck1">Checkbox 1</label>

                    <input type="checkbox" class="btn-check " id="btncheck2" autocomplete="off">
                    <label class="btn btn-outline-primary  my-2" for="btncheck2">Checkbox 2</label>

                    <input type="checkbox" class="btn-check " id="btncheck3" autocomplete="off">
                    <label class="btn btn-outline-primary my-2" for="btncheck3">Checkbox 3</label>


                </div>

            </ul>
        </div>

        <div class="dashboard-content">
            <ul class="tableOfContent">
                <li class="header">
                    <div class="filed">
                        Request ID
                    </div>
                    <div class="filed">
                        Activity
                    </div>
                    <div class="filed">
                        title
                    </div>
                    <div class="filed">
                        Assigned On
                    </div>
                    <div class="filed">
                        Need Date
                    </div>
                    <div class="filed">
                        Pirority
                    </div>
                    <div class="filed">
                        buttons
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
                <li>
                    <div class="filed">
                        CR-2024-03-26-001
                    </div>
                    <div class="filed">
                        Review request
                    </div>
                    <div class="filed">
                        plot plan drawing
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        16 nov 2021
                    </div>
                    <div class="filed">
                        .....
                    </div>
                    <div class="filed">
                        .....
                    </div>

                </li>
            </ul>
        </div>
    </div>

</div>
{{end}}