{{define "title"}}Home{{end}}

{{define "main"}}
<div>
<h2>Welecome to Interface Management System</h2>
<p>Please use your credentials to login or create a new account.</p>
    {{template "login" .}}
</div>
{{end}}
