{{define "notFound"}}
<html>
{{template "head" .}}

<body>
    <div class="container d-flex justify-content-center align-items-center h-100">
        <img src="/images/notFound.jpg" alt="404_not_found">
    </div>
</body>

</html>
{{end}}